@inject IJSRuntime js
@inject NavigationManager navigation
@using Spotify.Data.Images

<div @ref=Card class="card" @onclick="OpenAlbumPage">
    <div class="image-area">
        <div class="image">
            @if (!String.IsNullOrEmpty(Album.Cover))
            {
                <img src="data:image/png;base64,@Album.Cover" />
            }
            else
            {
                <img src="data:image/png;base64,@AlbumCovers.DefaultCover" />
            }
            <div class="play-button">
                <i class="fa-solid fa-play"></i>
            </div>
        </div>
    </div>
    <div class="description-area">
        <a class="title" href="#">@Album.Title</a>
        <div class="author-area">
            <a class="author" href="#">@Album.Artist.Name</a>
        </div>
    </div>
</div>

@code {
    IJSObjectReference? jsModule;
    ElementReference Card;

    // [Parameter]
    public AlbumModel Album { get; set; }

    [Parameter]
    public Guid Id { get; set; }

    protected override void OnInitialized()
    {
        using (var db = new PlayerContext())
        {
            Album = db.Albums.Include(a => a.Artist).FirstOrDefault(a => a.Id == Id);
        }
    }


    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await js.InvokeAsync<IJSObjectReference>("import", "./Pages/Items/PlaylistCard.razor.js");
            await jsModule.InvokeVoidAsync("PlaylistCard.InitHover", Card);
        }
    }

    private void OpenAlbumPage()
    {
        navigation.NavigateTo($"/album/{Id}");
    }
}
