.author-albums-area {
    margin-top: 48px;
    padding: 0 40px;
}

.info {
    display: flex;
    justify-content: space-between;
    font-family: DmSans, sans-serif;
}

.more-by {
    color: #ffffff;
    font-size: 24px;
}

    .more-by a {
        text-decoration: none;
    }

        .more-by a:hover {
            text-decoration: underline;
        }

.see-discography {
    color: #a9a9a9;
    font-size: 14px;
}

    .see-discography a {
        text-decoration: none;
    }

        .see-discography a:hover {
            text-decoration: underline;
        }

.albums {
    margin-top: 15px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-items: center;
    justify-content: center;
}
