@inject IJSRuntime js

<div id="@Playlist.Id" class="card">
    <div class="card-image-area">
        <div class="image">
            <img src="@Playlist.Image" />
            <div class="play-button">
                <i class="fa-solid fa-play"></i>
            </div>
        </div>
    </div>
    <div class="card-title-area">
        <p class="card-title">@Playlist.Title</p>
    </div>
    <div class="card-author-area">
        <p class="card-author">@Playlist.Author</p>
    </div>
</div>

@code {
    IJSObjectReference? jsModule;

    [Parameter]
    public PlaylistModel Playlist { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await js.InvokeAsync<IJSObjectReference>("import", "./Pages/Items/PlaylistCard.razor.js");
            await jsModule.InvokeVoidAsync("PlaylistCard.InitHover", Playlist.Id);
        }
    }
}
