@using System.Globalization

<div class="release-publisher-area">
    <div class="release">
        @if (ReleaseDate is not null)
        {
            @ReleaseDate.Value.ToString("MMMM d, yyyy", CultureInfo.CreateSpecificCulture("en-US"))
        }
    </div>
    <div class="publisher">
        @if (ReleaseDate is not null)
        {
            @($"℗ {ReleaseDate.Value.ToString("yyyy")} Roswell Records, Inc.")
        }
    </div>
</div>

@code {
    [Parameter]
    public DateTime? ReleaseDate { get; set; }
}
