.release-publisher-area {
    margin-top: 30px;
    padding: 0 40px;
    color: #b3b3b3;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.release {
    font-size: 14px;
}

.publisher{
    font-size: 11px;
}
