.playlist {
    background: #121212;
    height: 50px;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    align-items: center;
    min-width: 50px;
}

    .playlist:hover {
        background: #1a1a1a;
        cursor: pointer;
    }

.image-area {
    overflow: clip;
    min-height: 50px;
    min-width: 50px;
    max-height: 50px;
    max-width: 50px;
    box-shadow: #181818 0px 10px 15px;
    border-radius: 5px;
    transition: 0.2s;
}

    .image-area img {
        width: 100%;
        transform: scale(1);
        transition: 0.2s;
        box-shadow: #181818 0px 10px 15px;
        pointer-events: none;
    }

.description-container {
    display: flex;
    gap: 12px;
    min-width: 0px;
    justify-content: space-between;
    width: 100%;
}

.description-area {
    margin-left: 12px;
    min-width: 0px;
}

    .description-area .title, .description-area .author {
        line-height: 22px;
        margin: 0;
        padding: 0;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .description-area .title {
        font-size: 16px;
    }

    .description-area .author {
        font-size: 14px;
    }

    .description-area .pin-icon {
        color: #1e9ed7;
        margin-right: 5px;
        align-self: center;
        /*display: none;*/
    }

.description-playing-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1e9ed7;
}

    .description-playing-icon .icon-span {
        display: block;
        padding: 8px;
    }

.title-area .title {
    color: #ffffff;
}

.loaded {
    color: #1e9ed7 !important;
}

.author-area {
    display: flex;
}

    .author-area .author {
        line-height: 22px;
        color: #a7a7a7;
    }
