@inject NavigationManager navigation
@using Spotify.Data.Images

<div class="playlist" @onclick="OpenPlaylistPage">
    <div class="image-area">
        @if (!String.IsNullOrEmpty(Playlist?.Image))
        {
            <img src="data:image/png;base64,@Playlist.Image" />
        }
        else
        {
            <img src="data:image/png;base64,@PlaylistImages.DefaultImage" />
        }
    </div>
    <div class="description-area">
        <div class="title-area">
            <p class="title">@Playlist?.Title</p>
        </div>
        <div class="author-area">
            <i class="ph-fill ph-push-pin pin-icon"></i>
            @if (!String.IsNullOrEmpty(UserName))
            {
                <p class="author">@UserName</p>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public PlaylistModel? Playlist { get; set; }

    public string? UserName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Playlist is not null)
        {
            using (var db = new PlayerContext())
            {

                Playlist = await db.Playlists
                            .Include(p => p.User)
                            .FirstOrDefaultAsync(p => p.Id == Playlist.Id);

                if (Playlist is not null)
                {
                    UserName = Playlist.User.Name;
                }
            }
        }
    }

    private void OpenPlaylistPage()
    {
        navigation.NavigateTo($"/playlist/{Playlist?.Id}");
    }
}
