@using Spotify.Data.Images
<div class="playlist">
    <div class="image-area">
        @if (!String.IsNullOrEmpty(Playlist.Image))
        {
            <img src="data:image/png;base64,@Playlist.Image" />
        }
        else
        {
            <img src="data:image/png;base64,@PlaylistImages.DefaultImage" />
        }
    </div>
    <div class="description-area">
        <div class="title-area">
            <p class="title">@Playlist.Title</p>
        </div>
        <div class="author-area">
            <i class="ph-fill ph-push-pin"></i>
            <p class="author">@* @Playlist.Author *@</p>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public PlaylistModel Playlist { get; set; }
}
