.playlist {
    background: #121212;
    height: 50px;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    align-items: center;
    min-width: 50px;
}

    .playlist:hover {
        background: #1a1a1a;
    }

.image-area {
    overflow: clip;
    min-height: 50px;
    min-width: 50px;
    max-height: 50px;
    max-width: 50px;
    box-shadow: #181818 0px 10px 15px;
    border-radius: 10px;
    transition: 0.2s;
}

    .image-area img {
        width: 100%;
        border-radius: 10px;
        transform: scale(1);
        transition: 0.2s;
        box-shadow: #181818 0px 10px 15px;
        pointer-events: none;
    }

.description-area {
    margin-left: 10px;
    min-width: 0px;
}

    .description-area p {
        line-height: 22px;
        margin: 0;
        padding: 0;
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .description-area i {
        color: #1e9ed7;
        margin-right: 5px;
        align-self: center;
        /*display: none;*/
    }

.title-area .title {
    color: #ffffff;
}

.author-area {
    display: flex;
}

    .author-area .author {
        line-height: 22px;
        color: #a7a7a7;
    }
