<div class="track-entry" tabindex="-1" @onclick="PlayTrack">
    <div class="track-number">
        <div class="track-number-index">
            @Index
        </div>
        <div class="track-number-icon">
            <i class="fa-solid fa-play"></i>
        </div>
    </div>
    <div class="album-cover-info">
        <div class="album-cover">
            @if (!String.IsNullOrEmpty(Track.Album.Cover))
            {
                <img src="data:image/png;base64,@Track.Album.Cover">

            }
            else
            {
                <img src="data:image/png;base64,@AlbumCovers.DefaultCover" />
            }
        </div>
        <div class="album-info">
            <span>@Track.Title</span>
            <a href="#">@Track.Album.Artist.Name</a>
        </div>
    </div>
    <div class="album-name-link">
        <a href="#">@Track.Album.Title</a>
    </div>
    <div class="track-duration-like-options">
        <div class="like-button">
            <i class="ph ph-heart-straight"></i>
        </div>
        <div class="track-duration">
            @Track.Duration
        </div>
        <div class="options">
            <i class="ph ph-dots-three"></i>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public Guid Id { get; set; }

    public TrackModel Track { get; set; }

    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        using (var db = new PlayerContext())
        {
            Track = db.Tracks
                 .Include(t => t.Album)
                     .ThenInclude(a => a.Artist)
                 .FirstOrDefault(t => t.Id == Id);
        }
    }

    void PlayTrack()
    {
        // Layout.PlayingTrackId = Id;
    }
}
