<div class="track-entry" tabindex="-1">
    <div class="track-number">
        <div class="track-number-index">
            @Index
        </div>
        <div class="track-number-icon">
            <i class="fa-solid fa-play"></i>
        </div>
    </div>
    <div class="album-cover-info">
        <div class="album-cover">
            <img src=@Track.Album.Cover>
        </div>
        <div class="album-info">
            <span>@Track.Title</span>
            <a href="#">@Track.Album.Artist.Name</a>
        </div>
    </div>
    <div class="album-name-link">
        <a href="#">@Track.Album</a>
    </div>
    <div class="track-duration-like-options">
        <div class="like-button">
            <i class="ph ph-heart-straight"></i>
        </div>
        <div class="track-duration">
            @Track.Duration
        </div>
        <div class="options">
            <i class="ph ph-dots-three"></i>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public TrackModel Track { get; set; }
}
