<div class="card">
    <div class="card-image-area">
        <div class="image">
            <img src="@Track.Image" />
            <div class="play-button">
                <i class="fa-solid fa-play"></i>
            </div>
        </div>
    </div>
    <div style="min-width: 0">
        <p class="card-title-area">@Track.Title</p>
    </div>
    <div style="min-width: 0">
        <p class="card-author-area">@Track.Author</p>
    </div>
</div>

@code {

    [Parameter]
    public TrackModel Track { get; set; }
}
