@inject IJSRuntime js
@inject NavigationManager navigation
@inject IPlayerService playerService

<div @ref=Card class="card" @onclick="OpenPage">
    <div class="image-area">
        <div class="image">
            @if (!String.IsNullOrEmpty(TrackCollection?.Image))
            {
                <img src="data:image/png;base64,@TrackCollection.Image" />
            }
            else if (TrackCollection is AlbumModel)
            {
                <img src="data:image/png;base64,@AlbumCovers.DefaultCover" />
            }
            else
            {
                <img src="data:image/png;base64,@PlaylistImages.DefaultImage" />
            }

            @if (IsPlaying)
            {
                <div class="play-button" @onclick="Pause" @onclick:stopPropagation="true">
                    <i class="fa-solid fa-pause"></i>
                </div>
            }
            else
            {
                <div class="play-button" @onclick="StartCollection" @onclick:stopPropagation="true">
                    <i class="fa-solid fa-play"></i>
                </div>
            }
        </div>
    </div>
    <div class="description-area">
        <div class="title-area">
            <a class="title" href="#">@TrackCollection?.Title</a>
        </div>
        <div class="author-area">
            @if (TrackCollection is AlbumModel)
            {
                <a class="author" href="#">@AuthorName</a>
            }
            else
            {
                <sapn class="author">@AuthorName</sapn>
            }
        </div>
    </div>
</div>

@code {
    IJSObjectReference? jsModule;
    ElementReference Card;

    [Parameter]
    public ITrackStorable? TrackCollection { get; set; }

    public string? AuthorName { get; set; }

    Guid CollectionId { get; set; }

    bool IsPlaying { get; set; }

    protected override async Task OnInitializedAsync()
    {
        InitializeTrackList();

        playerService.PlayStateChanged += OnPlayStateChanged;
    }

    protected override void OnParametersSet()
    {
        InitializeTrackList();
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await js.InvokeAsync<IJSObjectReference>("import", "./Pages/Items/TrackCollectionCard.razor.js");
            await jsModule.InvokeVoidAsync("TrackCollectionCard.InitHover", Card);
        }
    }

    private void OpenPage()
    {
        string path = TrackCollection is AlbumModel ? "album" : "playlist";
        navigation.NavigateTo($"/{path}/{TrackCollection?.Id}");
    }

    public void StartCollection()
    {
        if (TrackCollection is not null)
        {
            playerService.Start(TrackCollection);
        }
    }

    public void Pause()
    {
        playerService.Pause();
    }

    private void InitializeTrackList()
    {
        if (TrackCollection is not null)
        {
            CollectionId = TrackCollection.Id;
            if (TrackCollection.Type == TrackCollectionType.Album)
            {
                InitializeAlbum();
            }
            else if (TrackCollection.Type == TrackCollectionType.Playlist)
            {
                InitializePlaylist();
            }
        }

        if (CollectionId == playerService.CurrentPlayingCollectionId && !playerService.IsPaused)
        {
            IsPlaying = true;
        }
        else
        {
            IsPlaying = false;
        }
        StateHasChanged();
    }

    private void InitializeAlbum()
    {
        if (TrackCollection is not null)
        {
            using (var db = new PlayerContext())
            {
                TrackCollection = db.Albums
                                       .Include(a => a.Artist)
                                       .FirstOrDefault(a => a.Id == TrackCollection.Id);

                if (TrackCollection is not null)
                {
                    AuthorName = ((AlbumModel)TrackCollection).Artist.Name;
                }
            }
        }
    }

    private void InitializePlaylist()
    {
        if (TrackCollection is not null)
        {
            using (var db = new PlayerContext())
            {
                TrackCollection = db.Playlists
                                .Include(p => p.User)
                                .FirstOrDefault(p => p.Id == TrackCollection.Id);

                if (TrackCollection is not null)
                {
                    AuthorName = ((PlaylistModel)TrackCollection).User.Name;
                }
            }
        }
    }

    public void OnPlayStateChanged(object sender, PlayStateChangedEventArgs e)
    {
        if (CollectionId == e.CollectionId && !e.IsPaused)
        {
            IsPlaying = true;
        }
        else
        {
            IsPlaying = false;
        }
        StateHasChanged();
    }
}
