.card {
    margin: 15px;
    width: 250px;
    height: 350px;
    background: #151515;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.card-image-area {
    padding: 20px;
    padding-bottom: 0;
}

.image {
    position: relative;
    overflow: clip;
    box-shadow: #181818 0px 10px 15px;
    border-radius: 10px;
    transition: 0.2s;
}

    .image img {
        width: 100%;
        border-radius: 10px;
        transform: scale(1);
        transition: 0.2s;
        box-shadow: #181818 0px 10px 15px;
        pointer-events: none;
    }

    .image:hover img {
        transform: scale(1.025);
        transition: 0.2s;
    }

    .image .play-button {
        position: absolute;
        opacity: 0;
        width: 50px;
        height: 50px;
        background: #1ED760;
        right: 10px;
        bottom: 5px;
        border-radius: 50%;
        display: flex;
    }

    .image i {
        transform: scale(1);
        font-size: 20px;
        margin: auto
    }

p {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-title-area {
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 20px;
}

.card-author-area {
    color: #A7A7A7;
    font-size: 14px;
    padding-top: 10px;
}

.card:hover {
    background: #282828;
    transition: 0.3s;
}

    .card:hover .play-button {
        bottom: 15px;
        opacity: 1;
        transition: 0.3s;
    }

.play-button:hover {
    transition: 0s;
    background: #1FDF64;
    transform: scale(1.05);
}
