.track-entry {
    display: grid;
    grid-template-rows: 56px;
    grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last] minmax(120px,1fr);
    grid-gap: 16px;
    align-items: center;
    padding: 0 16px;
    border-radius: 5px;
    font-family: DmSans, sans-serif;
    font-size: 14px;
}

    .track-entry:hover {
        background-color: #1e232a;
    }

        .track-entry:hover a {
            color: #fff;
        }

        .track-entry:hover .like-button {
            opacity: 1;
            color: #B3B3B3;
        }

        .track-entry:hover .track-number-index {
            display: none;
        }

        .track-entry:hover .track-number-icon {
            display: block;
            color: #fff;
        }

        .track-entry:hover .options {
            opacity: 1;
        }


    .track-entry:focus-within {
        background-color: #4d5666;
    }

        .track-entry:focus-within a {
            color: #fff;
        }

        .track-entry:focus-within .like-button {
            opacity: 1;
            color: #B3B3B3;
        }

        .track-entry:focus-within .track-number-index {
            display: none;
        }

        .track-entry:focus-within .track-number-icon {
            display: block;
            color: #fff;
        }

.track-number {
    display: flex;
    justify-content: center;
    align-items: end;
    color: #B3B3B3;
}

    .track-number .track-number-icon {
        display: none;
    }

.album-cover-info {
    display: flex;
    min-width: 145px;
}

.album-cover {
    margin-right: 16px;
}

    .album-cover img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
    }

.album-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: fit-content;
    min-width: 90px;
    transition: 0.5s;
    overflow: hidden;
}

    .album-info span {
        max-width: 100%;
        width: max-content;
        font-size: 16px;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .album-info a {
        max-width: 100%;
        width: max-content;
        font-size: 14px;
        color: #B3B3B3;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .album-info a:hover {
            text-decoration: underline;
        }

.album-name-link {
    display: flex;
    max-width: 95%;
    min-width: 50px;
    overflow: hidden;
    transition: 0.5s;
}

    .album-name-link a {
        width: max-content;
        max-width: 100%;
        font-size: 14px;
        color: #B3B3B3;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .album-name-link a:hover {
            text-decoration: underline;
        }

.track-duration-like-options {
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 100%;
}

.like-button {
    margin-right: 16px;
    font-size: 20px;
    color: #242e3c;
    opacity: 0;
}

    .like-button:hover {
        color: #fff !important;
        opacity: 1;
        transform: scale(105%);
        cursor: pointer;
    }

.track-duration {
    margin-right: 16px;
    font-size: 14px;
    color: #B3B3B3;
}

.options {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    color: #fff;
    opacity: 0;
}

    .options:hover {
        transform: scale(105%);
        opacity: 1;
        cursor: pointer;
    }
