@inject IJSRuntime js
@inject NavigationManager navigation

<div @ref=Card class="card" @onclick="OpenPage">
    <div class="image-area">
        <div class="image">
            @if (!String.IsNullOrEmpty(TrackCollection?.Image))
            {
                <img src="data:image/png;base64,@TrackCollection.Image" />
            }
            else if (TrackCollection is AlbumModel)
            {
                <img src="data:image/png;base64,@AlbumCovers.DefaultCover" />
            }
            else
            {
                <img src="data:image/png;base64,@PlaylistImages.DefaultImage" />
            }
            <div class="play-button">
                <i class="fa-solid fa-play"></i>
            </div>
        </div>
    </div>
    <div class="description-area">
        <div class="title-area">
            <a class="title" href="#">@TrackCollection?.Title</a>
        </div>
        <div class="author-area">
            @if (TrackCollection is AlbumModel)
            {
                <a class="author" href="#">@AuthorName</a>
            }
            else
            {
                <sapn class="author">@AuthorName</sapn>
            }
        </div>
    </div>
</div>

@code {
    IJSObjectReference? jsModule;
    ElementReference Card;

    [Parameter]
    public ITrackStorable? TrackCollection { get; set; }

    public string? AuthorName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using (var db = new PlayerContext())
        {
            if (TrackCollection is PlaylistModel)
            {
                TrackCollection = await db.Playlists
                        .Include(p => p.User)
                        .Include(p => p.PlaylistTrack)
                            .ThenInclude(pt => pt.Track)
                        .FirstOrDefaultAsync(p => p.Id == TrackCollection.Id);

                if (TrackCollection is not null)
                {
                    AuthorName = ((PlaylistModel)TrackCollection).User.Name;
                }
            }
            else if (TrackCollection is AlbumModel)
            {
                TrackCollection = await db.Albums
                       .Include(a => a.Artist)
                       .Include(a => a.Tracks)
                       .FirstOrDefaultAsync(a => a.Id == TrackCollection.Id);

                if (TrackCollection is not null)
                {
                    AuthorName = ((AlbumModel)TrackCollection).Artist.Name;
                }
            }
        }
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await js.InvokeAsync<IJSObjectReference>("import", "./Pages/Items/TrackCollectionCard.razor.js");
            await jsModule.InvokeVoidAsync("TrackCollectionCard.InitHover", Card);
        }
    }

    private void OpenPage()
    {
        string path = TrackCollection is AlbumModel ? "album" : "playlist";
        navigation.NavigateTo($"/{path}/{TrackCollection?.Id}");
    }
}
