@inject IJSRuntime js

<div id="@Track.Id" class="card">
    <div class="card-image-area">
        <div class="image">
            <img src="@Track.Image" />
            <div class="play-button">
                <i class="fa-solid fa-play"></i>
            </div>
        </div>
    </div>
    <div class="card-title-area">
        <p class="card-title">@Track.Title</p>
    </div>
    <div class="card-author-area">
        <p class="card-author">@Track.Author</p>
    </div>
</div>

@code {
    IJSObjectReference? jsModule;

    [Parameter]
    public TrackModel Track { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await js.InvokeAsync<IJSObjectReference>("import", "./Pages/Items/TrackCard.razor.js");
            await jsModule.InvokeVoidAsync("TrackCard.InitHover", Track.Id);
        }
    }
}
