@page "/album/{Id:guid}"

<div class="main-area">
    <TrackList TrackCollection="Album"></TrackList>
</div>


@code {
    [Parameter]
    public Guid Id { get; set; }

    public AlbumModel? Album { get; set; }

    int songNumber = 1;

    protected override void OnInitialized()
    {
        using (var db = new PlayerContext())
        {
            Album = db.Albums
                       .Include(a => a.Artist)
                       .Include(a => a.Tracks)
                       .FirstOrDefault(a => a.Id == Id);

        }
    }
}