.page-wrapper *:focus {
    outline: none;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    min-width: 40%;
    width: 100%;
    border-radius: 10px;
}

.album-info-area {
    display: flex;
    flex-direction: row;
    padding: 24px;
    padding-top: 45px;
    height: 30vh;
    max-height: 400px;
    min-height: 340px;
    border-radius: 10px 10px 0 0;
    background-color: #1a1a1a;
    box-sizing: border-box;
}

.album-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.album-cover {
    display: flex;
    align-items: flex-end;
    margin-right: 16px;
}

    .album-cover img {
        max-width: 270px;
        min-width: 135px;
        max-height: 270px;
        min-height: 135px;
        width: 100%;
    }

.album-type {
    font-family: DmSans, sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.album-name-area {
    margin-top: 8px;
    margin-bottom: 12px;
    font-family: DmSans, sans-serif;
    font-size: 22px;
    color: #ffffff;
    overflow: hidden;
}

    .album-name-area .album-name {
        margin: 0;
        width: 100%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

.album-authors {
    font-family: DmSans, sans-serif;
    font-size: 14px;
    color: #ffffffb2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.album-duration {
    display: flex;
    align-items: center;
    margin-top: 8px;
    width: max-content;
    font-family: DmSans, sans-serif;
}

.spotify-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .spotify-logo i {
        width: 100%;
        height: 100%;
        font-size: 24px;
        color: #1fa4df;
    }

    .spotify-logo a {
        font-family: DmSans, sans-serif;
        font-size: 16px;
        text-decoration: none;
        color: #ffffff;
    }

        .spotify-logo a:hover {
            text-decoration: underline;
        }

.dot-separator {
    margin: 0 5px;
    font-family: DmSans, sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.songs-count {
    font-family: DmSans, sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.songs-duration {
    font-family: DmSans, sans-serif;
    font-size: 16px;
    color: #ffffffb2;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    min-width: 450px;
}

.controls-left {
    display: flex;
    flex-direction: row;
}

.play-button {
    margin-right: 24px;
    width: max-content;
    height: max-content;
    padding: 0;
    border: 0;
    cursor: pointer;
    font-size: 64px;
    color: #1fa4df;
    background-color: #00000000;
}

    .play-button:hover {
        transform: scale(1.05);
        color: #2ea9de;
    }

.like-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 16px;
    padding: 0;
    max-height: fit-content;
    border: 0;
    cursor: pointer;
    font-size: 32px;
    color: #ffffffb2;
    background-color: #00000000;
}

    .like-button:hover {
        transform: scale(1.05);
        color: #ffffff;
    }

.options-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 16px;
    padding: 0;
    max-height: fit-content;
    border: 0;
    cursor: pointer;
    font-family: DmSans, sans-serif;
    font-size: 24px;
    color: #ffffffb2;
    background-color: #00000000;
}

    .options-button:hover {
        transform: scale(1.05);
        color: #ffffff;
    }

.controls-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display-mode-button {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    padding: 0;
    max-height: fit-content;
    border: 0;
    cursor: pointer;
    font-family: DmSans, sans-serif;
    color: #ffffffb2;
    background-color: #00000000;
}

    .display-mode-button:hover {
        color: #ffffff;
    }

    .display-mode-button span {
        font-size: 18px;
    }

    .display-mode-button i {
        font-size: 26px;
    }


.track-list-header {
    margin-bottom: 16px;
    padding: 0 24px;
    min-width: 450px;
}

.track-info {
    display: grid;
    grid-template-rows: 36px;
    grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last] minmax(120px,1fr);
    grid-gap: 16px;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    font-family: DmSans, sans-serif;
    font-size: 14px;
    color: #b3b3b3;
}

.track-number {
    width: max-content;
}

.track-title {
    width: max-content;
    /*min-width: 145px;*/
}

.track-album {
    /*min-width: 50px;*/
    overflow: hidden;
}

.track-duration {
    justify-self: end;
    margin-right: 45px;
    width: max-content;
    font-size: 16px;
}

.track-list {
    padding: 0 24px;
    min-width: 450px;
}
