@page "/album/{Id:guid}"

<div class="main-area">
    <TrackList TrackCollection="Album"></TrackList>
</div>


@code {
    [Parameter]
    public Guid Id { get; set; }

    public AlbumModel? Album { get; set; }

    protected override void OnInitialized()
    {
        using (var db = new PlayerContext())
        {
            Album = db.Albums.FirstOrDefault(a => a.Id == Id);

        }
    }

    protected override void OnParametersSet()
    {
        InitializePlaylist();
    }

    private void InitializePlaylist()
    {
        using (var db = new PlayerContext())
        {
            Album = db.Albums.FirstOrDefault(a => a.Id == Id);
        }
    }
}