@page "/"

<PageTitle>Index</PageTitle>

<div class="tracks-area">
    <a class="title">Albums</a>
    <div class="albums-area">
        @if (Layout.Albums is not null)
        {
            //for (int i = 0; i < 10; i++)
            //{
            @foreach (var album in Layout.Albums)
            {
                <AlbumCard Id=@album.Id></AlbumCard>
            }
            //}
            @*@foreach (var track in Layout.Tracks)
        {
        <PlaylistCard Track="track"></PlaylistCard>
        }*@
        }
    </div>
    <a class="title">Playlists</a>
    <div class="playlist-area">
        @if (Layout.Playlists is not null)
        {
            // for (int i = 0; i < 10; i++)
            //{
            @foreach (var playlist in Layout.Playlists)
            {
                <PlaylistCard Id=@playlist.Id></PlaylistCard>
            }
            // }
            @*@foreach (var track in Layout.Tracks)
        {
        <PlaylistCard Track="track"></PlaylistCard>
        }*@
        }
    </div>
</div>

@code
{
    [CascadingParameter]
    public MainLayout Layout { get; set; }
}

