@page "/"

<PageTitle>Index</PageTitle>

@*<div>
     @if (Playlists is not null)
    {
        @foreach (var pl in Playlists)
        {
            <SidePlaylist Playlist="pl"></SidePlaylist>
        }
    }
</div>*@

<div class="tracks-area">
    <div class="albums-area">
        <a>Albums</a>
        @if (Layout.Albums is not null)
        {
            //for (int i = 0; i < 10; i++)
            //{
            @foreach (var album in Layout.Albums)
                {
                    <AlbumCard Album="album"></AlbumCard>
                }
            //}
            @*@foreach (var track in Layout.Tracks)
        {
        <PlaylistCard Track="track"></PlaylistCard>
        }*@
        }
    </div>
    <div class="playlist-area">
        <a>Playlists</a>
        @if (Layout.Playlists is not null)
        {
           // for (int i = 0; i < 10; i++)
            //{
            @foreach (var playlist in Layout.Playlists)
                {
                    <PlaylistCard Playlist="playlist"></PlaylistCard>
                }
           // }
            @*@foreach (var track in Layout.Tracks)
        {
        <PlaylistCard Track="track"></PlaylistCard>
        }*@
        }
    </div>   
</div>


@code
{
    //List<TrackModel>? Tracks { get; set; }
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //Tracks = DataBaseMoq.Tracks;
    }
}

