@page "/"

<PageTitle>Index</PageTitle>

<div class="tracks-area">
    @foreach (var track in Tracks)
    {
        <TrackCard Track="track"></TrackCard>
    }
</div>


@code
{
    List<TrackModel> Tracks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Tracks = DataBaseMoq.Tracks;
    }
}

