.main-area {
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding-top: 64px;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 15px;
}

.tracks-area {
    background: #121212;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

    .tracks-area a {
        font-family: DmSans, sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #ffffff;
    }

        .tracks-area a:hover {
            text-decoration: underline;
        }

.albums-area, .playlist-area {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.title {
    margin-bottom: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--var1);
}

    ::-webkit-scrollbar-thumb:hover {
        background: #898889;
        transition: 0.5s;
    }

@property --var1 {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}
