@page "/"

<PageTitle>Index</PageTitle>

@*<div>
     @if (Playlists is not null)
    {
        @foreach (var pl in Playlists)
        {
            <SidePlaylist Playlist="pl"></SidePlaylist>
        }
    }
</div>*@

<div class="tracks-area">
    @if (Playlists is not null)
    {
        for (int i = 0; i < 10; i++)
        {
<<<<<<< HEAD
            @foreach (var playlist in Playlists)
=======
            @foreach (var track in Playlists)
>>>>>>> 1fa0a87 (cascading value changed to Playlist)
            {
                <PlaylistCard Playlist="playlist"></PlaylistCard>
            }
        }
        @*@foreach (var track in Layout.Tracks)
    {
    <PlaylistCard Track="track"></PlaylistCard>
    }*@
    }
</div>


@code
{
    //List<TrackModel>? Tracks { get; set; }
    [CascadingParameter]
    public List<PlaylistModel> Playlists { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //Tracks = DataBaseMoq.Tracks;
    }
}

