@page "/"

<PageTitle>Index</PageTitle>

<div class="main-area">
    <div class="tracks-area">
        <a class="title">Albums</a>
        <div class="albums-area">
            @if (Albums is not null)
            {
                @foreach (var album in Albums)
                {
                    <TrackCollectionCard TrackCollection=album></TrackCollectionCard>
                }
            }
        </div>
        <a class="title">Playlists</a>
        <div class="playlist-area">
            @if (Playlists is not null)
            {
                @foreach (var playlist in Playlists)
                {
                    <TrackCollectionCard TrackCollection=playlist></TrackCollectionCard>
                }
            }
        </div>
    </div>
</div>


@code
{
    public List<AlbumModel>? Albums { get; set; }

    public List<PlaylistModel>? Playlists { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using (PlayerContext db = new PlayerContext())
        {
            Playlists = db.Playlists.ToList();
            Albums = db.Albums.ToList();
        }
    }
}

