@page "/"

<PageTitle>Index</PageTitle>

@*<div>
     @if (Playlists is not null)
    {
        @foreach (var pl in Playlists)
        {
            <SidePlaylist Playlist="pl"></SidePlaylist>
        }
    }
</div>*@

<div class="tracks-area">
    @if (Layout.Tracks is not null)
    {
        for (int i = 0; i < 10; i++)
        {
            @foreach (var track in Layout.Tracks)
            {
                <TrackCard Track="track"></TrackCard>
            }
        }
        @*@foreach (var track in Layout.Tracks)
        {
            <TrackCard Track="track"></TrackCard>
        }*@
    }
</div>


@code
{
    //List<TrackModel>? Tracks { get; set; }
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //Tracks = DataBaseMoq.Tracks;
    }
}

