.page-wrapper *:focus {
    outline: none;
}

.main-area {
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--var1);
}

    ::-webkit-scrollbar-thumb:hover {
        background: #898889;
        transition: 0.5s;
    }

@property --var1 {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}
