<header class="header">
    <div class="navigation-controls">
        <button class="button back-icon">
            <i class="ph ph-caret-left"></i>
        </button>

        <button class="button forward-icon">
            <i class="ph ph-caret-right"></i>
        </button>
    </div>

    <div class="other-controls">
        <button class="button download-icon">
            <i class="ph ph-arrow-circle-down"></i>
            Установить приложение
        </button>

        <button class="button notify-icon">
            <i class="ph ph-bell"></i>
        </button>

        <button class="button profile-icon">
            <i class="ph ph-user"></i>
        </button>
    </div>
</header>

@code {

}
