.page {
    background: #000000;
    display: flex;
    padding: 10px;
    height: 100vh;
}

.menu-area, .favorites-area, .main-area {
    border-radius: 10px;
    background: #121212;
}

.sidebar-area {
    min-width: 300px;
    padding-right: 10px;
    display: flex;
    flex-flow: column;
}

    .sidebar-area .menu-area {
        height: 300px;
        margin-bottom: 10px;
    }

    .sidebar-area .favorites-area {
        height: 100%;
        flex: 1;
        padding: 10px;
    }

.main-area {
    flex: 1;
    padding: 15px;
}
