.page {
    background: #000000;
    display: flex;
    padding: 10px;
    height: 100vh;
    box-sizing: border-box;
}

#resizer {
    width: 8px;
    cursor: col-resize;
    margin: 0 0 0 auto;
}

.menu-area, .favorites-area, .main-area {
    border-radius: 10px;
    background: #121212;
}

.favorites-area, .main-area {
    transition: --var1 0.5s;
    transition-delay: 1s;
    overflow-y: scroll;
    overflow-x: hidden;
}

    .favorites-area:hover, .main-area:hover {
        --var1: #4f4f4f;
        transition-delay: 0s;
    }

.sidebar-area {
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

    .sidebar-area .menu-area {
        margin-bottom: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .sidebar-area .favorites-area {
        height: 100%;
        flex: 1;
        padding: 10px;
    }

.main-area {
    flex: 1;
    padding: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--var1);
}

    ::-webkit-scrollbar-thumb:hover {
        background: #898889;
        transition: 0.5s;
    }

@property --var1 {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}
