@inherits LayoutComponentBase
@inject IJSRuntime js
@implements IAsyncDisposable

<PageTitle>Main Title</PageTitle>

<div class="page">

    <div class="page-area">
        <div @ref=Sidebar class="sidebar-area">
            <div class="menu-area">
                <Menu></Menu>
            </div>

            <div @ref=FavouritesPanel class="favorites-area">
                @if (Playlists is not null)
                {
                    @foreach (var pl in Playlists)
                    {
                        <SidePlaylist Playlist="pl"></SidePlaylist>
                    }
                }
            </div>
        </div>

        <div @ref=Resizer class="resizer"></div>

        <div class="main-area">
            <Topbar></Topbar>
            @Body
        </div>

    </div>

    <div class="trackbar-area">
        <Trackbar></Trackbar>
    </div>
</div>

@code
{
    IJSObjectReference? jsModule;
    public List<PlaylistModel>? Playlists { get; set; }

    ElementReference Resizer;
    ElementReference Sidebar;
    ElementReference FavouritesPanel;

    protected override void OnInitialized()
    {
        using (PlayerContext db = new PlayerContext())
        {
            Playlists = db.Playlists.ToList();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await js.InvokeAsync<IJSObjectReference>("import", "./Shared/MainLayout.razor.js");
            await jsModule.InvokeVoidAsync("Main.ResizeInit", Resizer, Sidebar, FavouritesPanel);
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (jsModule is not null)
        {
            await jsModule.DisposeAsync();
        }
    }
}
