@inherits LayoutComponentBase
@inject IJSRuntime js


<PageTitle>Main Title</PageTitle>

<div class="page">

    <div id="sidebar" class="sidebar-area">
        <div class="menu-area">
            <Menu></Menu>
        </div>

        <div id="favourites" class="favorites-area">
            @if (Playlists is not null)
            {
                @foreach (var pl in Playlists)
                {
                    <SidePlaylist Playlist="pl"></SidePlaylist>
                }
            }
        </div>
    </div>

    <div id="resizer"></div>

    <div class="main-area">
        @Body
    </div>

</div>

@code
{
    IJSObjectReference? jsModule;
    List<TrackModel>? Tracks { get; set; }
    List<PlaylistModel>? Playlists { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Tracks = DataBaseMoq.Tracks;
        Playlists = DataBaseMoq.Playlists;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await js.InvokeAsync<IJSObjectReference>("import", "./Shared/MainLayout.razor.js");
            await jsModule.InvokeVoidAsync("Main.Init");
        }
    }
}
