* {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

    .menu-item:hover p, .menu-item:hover i {
        color: #fff;
        transition: 0.5s;
    }

    .menu-item p, .menu-item i {
        color: #A7A7A7;
        transition: 0.5s;
    }

i {
    margin-left: 24px;
    margin-right: 25px;
    font-size: 26px;
}
