.header {
    position: absolute;
    height: 64px;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color: transparent;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.button {
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #000;
    border-radius: 16px;
}

.navigation-controls {
    display: flex;
    height: max-content;
    width: 72px;
    justify-content: space-between;
}

.other-controls {
    display: flex;
    height: max-content;
    gap: 8px;
}


.back-icon, .forward-icon, .notify-icon, .profile-icon {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    font-size: 24px;
}

.notify-icon, .profile-icon {
    font-size: 20px;
}

    .notify-icon:hover, .profile-icon:hover {
        transform: scale(1.05)
    }

.notify-icon {
    color: #a1a0a9;
}

    .notify-icon:hover {
        color: #fff;
    }

.download-icon {
    width: fit-content;
    min-height: 32px;
    max-height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 8px;
    font-size: 14px;
}

    .download-icon i {
        font-size: 20px;
    }

    .download-icon:hover {
        transform: scale(1.03)
    }