:root {
    --track-info-width: 0;
    --slider-played-width: 0;
    --volume-x: 0%;
    --circle-x: 0px;
    --volume-width: 100%;
    --circle-radius: 7px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.trackbar {
    display: flex;
    height: 100%;
    align-items: center;
}


    .trackbar .track-area {
        min-width: 180px;
        padding-left: 8px;
    }

    .trackbar .controls-area {
        width: 40%;
        height: max-content;
        min-width: 300px;
        background-color: black;
        display: flex;
        flex-direction: column;
    }

    .trackbar .other-area {
        justify-content: flex-end;
        min-width: 300px;
    }

    .trackbar .track-area, .trackbar .other-area {
        width: 30%;
        display: flex;
    }


.button {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

    .button:focus {
        outline: none;
    }

.track-area .track-image {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    margin-right: 8px;
    align-self: center;
}

    .track-area .track-image img {
        border-radius: 5px;
        min-width: 56px;
        min-height: 56px;
        max-width: 56px;
        max-height: 56px;
    }

.track-area .track-info {
    color: white;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    max-width: 20rem;
    position: relative;
    overflow: hidden;
    gap: 3px;
}

    .track-area .track-info::after {
        content: " ";
        position: absolute;
        pointer-events: none;
        width: 100%;
        background-image: linear-gradient(90deg, #000 0px, transparent 8px, transparent calc(100% - 8px), #000 100%);
        height: 50px;
        align-self: center;
    }


.track-info .track-title {
    font-size: 14px;
    white-space: nowrap;
}

.track-info .track-author {
    font-size: 12px;
    /*font-weight: 400;*/
    color: #9e9e9e;
    white-space: nowrap;
}

.track-info a:hover {
    text-decoration: underline;
}


.track-title .track-title-area, .track-author .track-author-area {
    width: max-content;
}

.track-area .track-heart {
    display: flex;
    width: 32px;
    height: 32px;
    align-self: center;
}

    .track-area .track-heart .heart-button {
        font-size: 18px;
        color: #1e9ed7;
    }

.running-text {
    animation: moving 4s 2 linear alternate;
}

    .running-text:hover {
        animation-play-state: paused;
    }

@keyframes moving {
    from {
        transform: translateX(0%);
        /*right: 0%;*/
    }

    to {
        transform: translateX(calc(-100% + var(--track-info-width)));
        /*right: 100%;*/
    }
}

.controls-area .buttons-area {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    color: #1e9ed7;
    margin-bottom: 8px;
}

    .controls-area .buttons-area .button {
        color: #9e9d9e;
        font-size: 20px;
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
    }

        .controls-area .buttons-area .button:hover {
            color: #fff;
        }

    .controls-area .buttons-area .playpause-button {
        color: #fff;
        font-size: 32px;
    }

        .controls-area .buttons-area .playpause-button:hover {
            transform: scale(1.05)
        }

.buttons-area .buttons-left-area, .buttons-area .buttons-right-area {
    display: flex;
    gap: 8px;
}

.controls-area .slider-area {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.slider-area .slider-container {
    width: 100%;
    height: 20px;
}

.slider-area .current-time, .slider-area .duration-time {
    min-width: 40px;
    color: #a7a7a7;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.slider-area .current-time {
    text-align: right;
}

.slider-area .duration-time {
    text-align: left;
}


.slider-area .slider-container .slider {
    appearance: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' width='100%' height='8'><defs><linearGradient id='blue-grad'><stop stop-color='%231e9ed7' offset='0%'/><stop stop-color='white' offset='100%'/></linearGradient></defs><rect x='0' y='0' width='0%' height='8' rx='4' fill='url(%23blue-grad)'/></svg>"), url("data:image/svg+xml,<svg xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' width='100%' height='8'><rect x='0' y='0' width='100%' height='8' rx='4' fill='%234d4c4d'/></svg>");
    border-radius: 4px;
    height: 8px;
    outline: none;
    width: 100%;
}

    .slider-area .slider-container .slider::-webkit-slider-thumb {
        appearance: none;
        height: 10px;
        width: 0px;
        border-radius: 5px;
        background: transparent;
    }

    .slider-area .slider-container .slider::-moz-range-thumb {
        appearance: none;
        height: 10px;
        width: 0px;
        border-radius: 5px;
        background: transparent;
        border: none;
    }

.volume-slider-area {
    display: flex;
    flex: 0 1 125px;
    --volume-width: 100%;
    --circle-radius: 6px;
    margin-right: 5px;
}

.volume-slider-container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 5px;
}

    .volume-slider-container .outer {
        width: 100%;
        height: 3px;
        background-color: #3a3a3a;
        border-radius: 3px;
        overflow: hidden;
    }

    .volume-slider-container .inner {
        height: 3px;
        background-color: #fff;
        border-radius: 3px;
        position: relative;
        right: calc(var(--volume-width) - var(--volume-x));
    }

    .volume-slider-container .circle {
        width: calc(var(--circle-radius) * 2);
        height: calc(var(--circle-radius) * 2);
        border-radius: var(--circle-radius);
        display: none;
        transform: translateX(calc(var(--circle-x) - var(--circle-radius)));
        position: absolute;
    }

.inner-hover {
    background-color: #1e9ed7 !important;
}

.circle-hover {
    display: block !important;
    background-color: #fff;
    pointer-events: none;
}

.volume-slider-area:hover .inner, .volume-slider-area:hover .circle {
    background-color: #1e9ed7;
}

.volume-slider-area:hover .circle {
    display: block !important;
    background-color: #fff;
    pointer-events: none;
}

.other-area .button {
    color: #9e9d9e;
    font-size: 20px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}


    .other-area .button:hover {
        color: #fff;
    }

.inactive {
    color: #9e9d9e !important;
}

    .inactive:hover {
        color: #9e9d9e;
    }
